### Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load dataset into data frame

In [2]:
df = pd.read_csv('London_bike_sharing.csv')

In [3]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [4]:
df.shape

(17414, 10)

In [5]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

**Metadata:** <br>
"timestamp" - timestamp field for grouping the data  <br>
"cnt" - the count of a new bike shares  <br>
"t1" - real temperature in C  <br>
"t2" - temperature in C "feels like"  <br>
"hum" - humidity in percentage  <br>
"wind_speed" - wind speed in km/h  <br>
"weather_code" - category of the weather  <br>
"is_holiday" - boolean field - 1 holiday / 0 non holiday  <br>
"is_weekend" - boolean field - 1 if the day is weekend  <br>
"season" - category field meteorological seasons: ( 0-spring ; 1-summer; 2-fall; 3-winter ) <br> 

<br>

**"weathe_code" category description:** <br>
1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity  <br>
2 = scattered clouds / few clouds  <br>
3 = Broken clouds  <br>
4 = Cloudy  <br>
7 = Rain/ light Rain shower/ Light rain  <br>
10 = rain with thunderstorm  <br>
26 = snowfall  <br>
94 = Freezing Fog <br>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [7]:
df.describe()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,72.324954,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,14.313186,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,20.500000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,63.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,74.500000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,83.000000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,100.000000,56.500000,26.000000,1.000000,1.000000,3.000000

In [8]:
df['season'].value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

### Rename the columns

In [9]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [10]:
new_columns_name = {
    'timestamp': 'time',
    'cnt': 'total bike rented',
    't1': 'temperature real C',
    't2': 'temperature feels like C',
    'hum': 'humidity',
    'wind_speed': 'wind speed km/h',
    'weather_code': 'weather',
    'is_holiday': 'is holiday',
    'is_weekend': 'is weekend',
    'season': 'season',
}

In [11]:
df.rename(columns=new_columns_name, inplace=True)

In [12]:
df.head()

,time,total bike rented,temperature real C,temperature feels like C,humidity,wind speed km/h,weather,is holiday,is weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

### Check the duplicate and null values

In [13]:
df.duplicated().sum()

0

In [14]:
df.isna().sum()

time                        0
total bike rented           0
temperature real C          0
temperature feels like C    0
humidity                    0
wind speed km/h             0
weather                     0
is holiday                  0
is weekend                  0
season                      0
dtype: int64

### Format the value of columns

In [15]:
# Changing humidity values to percentage (from 0 to 1)
df['humidity'] = df['humidity'] / 100

In [16]:
df['season'].value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [20]:
df['weather'].value_counts()

weather
clear                     6150
scatter clouds            4034
broken clouds             3551
rain                      2141
cloudy                    1464
snowfall                    60
rain with thunderstorm      14
Name: count, dtype: int64

In [18]:
seaons_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'fall',
    '3.0': 'winter',
}

weather_dict = {
    '1.0': 'clear',
    '2.0': 'scatter clouds',
    '3.0': 'broken clouds',
    '4.0': 'cloudy',
    '7.0': 'rain',
    '10.0': 'rain with thunderstorm',
    '26.0': 'snowfall',
    '94.0': 'freezing fog',
}

# Changing season and weather_code values to string values
df['season'] = df['season'].astype(str).map(seaons_dict)
df['weather'] = df['weather'].astype(str).map(weather_dict)

In [19]:
df.head()

,time,total bike rented,temperature real C,temperature feels like C,humidity,wind speed km/h,weather,is holiday,is weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

### Save formated dataframe into excel file

In [21]:
df.to_excel('london_bike_sharing_final.xlsx', sheet_name='Data')